<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbs.persistence.mapper.TCenterResourceMapper">
  <resultMap id="BaseResultMap" type="com.itbs.persistence.entity.TCenterResource">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="RESOURCE_ID" jdbcType="INTEGER" property="resourceId" />
    <result column="RESOURCE_CODE" jdbcType="VARCHAR" property="resourceCode" />
    <result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
    <result column="INACCOUNT_DATE" jdbcType="DATE" property="inaccountDate" />
    <result column="ORI_VALUE" jdbcType="DECIMAL" property="oriValue" />
    <result column="NET_VALUE" jdbcType="DECIMAL" property="netValue" />
    <result column="ACCRUALOFDE_PRECIATION" jdbcType="VARCHAR" property="accrualofdePreciation" />
    <result column="LIMIT_YEAR" jdbcType="INTEGER" property="limitYear" />
    <result column="KEEPER_ID" jdbcType="INTEGER" property="keeperId" />
    <result column="KEEPER_NAME" jdbcType="VARCHAR" property="keeperName" />
    <result column="RESPONSIBILITY_CENTER" jdbcType="VARCHAR" property="responsibilityCenter" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="LIOCATION" jdbcType="VARCHAR" property="liocation" />
    <result column="PANDIAN_SIT" jdbcType="VARCHAR" property="pandianSit" />
    <result column="OTHER_INFO" jdbcType="OTHER" property="otherInfo" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="SKU_ID" jdbcType="INTEGER" property="skuId" />
    <result column="SPU_ID" jdbcType="INTEGER" property="spuId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RESOURCE_ID, RESOURCE_CODE, RESOURCE_NAME, INACCOUNT_DATE, ORI_VALUE, NET_VALUE, 
    ACCRUALOFDE_PRECIATION, LIMIT_YEAR, KEEPER_ID, KEEPER_NAME, RESPONSIBILITY_CENTER, 
    SPEC, LIOCATION, PANDIAN_SIT, OTHER_INFO, STATUS, SKU_ID, SPU_ID, USER_ID, USER_NAME
  </sql>
  <select id="selectByExample" parameterType="com.itbs.persistence.entity.TCenterResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_center_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_center_resource
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_center_resource
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itbs.persistence.entity.TCenterResourceExample">
    delete from t_center_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itbs.persistence.entity.TCenterResource">
    insert into t_center_resource (ID, RESOURCE_ID, RESOURCE_CODE, 
      RESOURCE_NAME, INACCOUNT_DATE, ORI_VALUE, 
      NET_VALUE, ACCRUALOFDE_PRECIATION, LIMIT_YEAR, 
      KEEPER_ID, KEEPER_NAME, RESPONSIBILITY_CENTER, 
      SPEC, LIOCATION, PANDIAN_SIT, 
      OTHER_INFO, STATUS, SKU_ID, 
      SPU_ID, USER_ID, USER_NAME
      )
    values (#{id,jdbcType=INTEGER}, #{resourceId,jdbcType=INTEGER}, #{resourceCode,jdbcType=VARCHAR}, 
      #{resourceName,jdbcType=VARCHAR}, #{inaccountDate,jdbcType=DATE}, #{oriValue,jdbcType=DECIMAL}, 
      #{netValue,jdbcType=DECIMAL}, #{accrualofdePreciation,jdbcType=VARCHAR}, #{limitYear,jdbcType=INTEGER}, 
      #{keeperId,jdbcType=INTEGER}, #{keeperName,jdbcType=VARCHAR}, #{responsibilityCenter,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{liocation,jdbcType=VARCHAR}, #{pandianSit,jdbcType=VARCHAR}, 
      #{otherInfo,jdbcType=OTHER}, #{status,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{spuId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itbs.persistence.entity.TCenterResource">
    insert into t_center_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="resourceId != null">
        RESOURCE_ID,
      </if>
      <if test="resourceCode != null">
        RESOURCE_CODE,
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME,
      </if>
      <if test="inaccountDate != null">
        INACCOUNT_DATE,
      </if>
      <if test="oriValue != null">
        ORI_VALUE,
      </if>
      <if test="netValue != null">
        NET_VALUE,
      </if>
      <if test="accrualofdePreciation != null">
        ACCRUALOFDE_PRECIATION,
      </if>
      <if test="limitYear != null">
        LIMIT_YEAR,
      </if>
      <if test="keeperId != null">
        KEEPER_ID,
      </if>
      <if test="keeperName != null">
        KEEPER_NAME,
      </if>
      <if test="responsibilityCenter != null">
        RESPONSIBILITY_CENTER,
      </if>
      <if test="spec != null">
        SPEC,
      </if>
      <if test="liocation != null">
        LIOCATION,
      </if>
      <if test="pandianSit != null">
        PANDIAN_SIT,
      </if>
      <if test="otherInfo != null">
        OTHER_INFO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="skuId != null">
        SKU_ID,
      </if>
      <if test="spuId != null">
        SPU_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceCode != null">
        #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="inaccountDate != null">
        #{inaccountDate,jdbcType=DATE},
      </if>
      <if test="oriValue != null">
        #{oriValue,jdbcType=DECIMAL},
      </if>
      <if test="netValue != null">
        #{netValue,jdbcType=DECIMAL},
      </if>
      <if test="accrualofdePreciation != null">
        #{accrualofdePreciation,jdbcType=VARCHAR},
      </if>
      <if test="limitYear != null">
        #{limitYear,jdbcType=INTEGER},
      </if>
      <if test="keeperId != null">
        #{keeperId,jdbcType=INTEGER},
      </if>
      <if test="keeperName != null">
        #{keeperName,jdbcType=VARCHAR},
      </if>
      <if test="responsibilityCenter != null">
        #{responsibilityCenter,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="liocation != null">
        #{liocation,jdbcType=VARCHAR},
      </if>
      <if test="pandianSit != null">
        #{pandianSit,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null">
        #{otherInfo,jdbcType=OTHER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itbs.persistence.entity.TCenterResourceExample" resultType="java.lang.Long">
    select count(*) from t_center_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_center_resource
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.resourceId != null">
        RESOURCE_ID = #{record.resourceId,jdbcType=INTEGER},
      </if>
      <if test="record.resourceCode != null">
        RESOURCE_CODE = #{record.resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceName != null">
        RESOURCE_NAME = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.inaccountDate != null">
        INACCOUNT_DATE = #{record.inaccountDate,jdbcType=DATE},
      </if>
      <if test="record.oriValue != null">
        ORI_VALUE = #{record.oriValue,jdbcType=DECIMAL},
      </if>
      <if test="record.netValue != null">
        NET_VALUE = #{record.netValue,jdbcType=DECIMAL},
      </if>
      <if test="record.accrualofdePreciation != null">
        ACCRUALOFDE_PRECIATION = #{record.accrualofdePreciation,jdbcType=VARCHAR},
      </if>
      <if test="record.limitYear != null">
        LIMIT_YEAR = #{record.limitYear,jdbcType=INTEGER},
      </if>
      <if test="record.keeperId != null">
        KEEPER_ID = #{record.keeperId,jdbcType=INTEGER},
      </if>
      <if test="record.keeperName != null">
        KEEPER_NAME = #{record.keeperName,jdbcType=VARCHAR},
      </if>
      <if test="record.responsibilityCenter != null">
        RESPONSIBILITY_CENTER = #{record.responsibilityCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        SPEC = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.liocation != null">
        LIOCATION = #{record.liocation,jdbcType=VARCHAR},
      </if>
      <if test="record.pandianSit != null">
        PANDIAN_SIT = #{record.pandianSit,jdbcType=VARCHAR},
      </if>
      <if test="record.otherInfo != null">
        OTHER_INFO = #{record.otherInfo,jdbcType=OTHER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null">
        SKU_ID = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.spuId != null">
        SPU_ID = #{record.spuId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_center_resource
    set ID = #{record.id,jdbcType=INTEGER},
      RESOURCE_ID = #{record.resourceId,jdbcType=INTEGER},
      RESOURCE_CODE = #{record.resourceCode,jdbcType=VARCHAR},
      RESOURCE_NAME = #{record.resourceName,jdbcType=VARCHAR},
      INACCOUNT_DATE = #{record.inaccountDate,jdbcType=DATE},
      ORI_VALUE = #{record.oriValue,jdbcType=DECIMAL},
      NET_VALUE = #{record.netValue,jdbcType=DECIMAL},
      ACCRUALOFDE_PRECIATION = #{record.accrualofdePreciation,jdbcType=VARCHAR},
      LIMIT_YEAR = #{record.limitYear,jdbcType=INTEGER},
      KEEPER_ID = #{record.keeperId,jdbcType=INTEGER},
      KEEPER_NAME = #{record.keeperName,jdbcType=VARCHAR},
      RESPONSIBILITY_CENTER = #{record.responsibilityCenter,jdbcType=VARCHAR},
      SPEC = #{record.spec,jdbcType=VARCHAR},
      LIOCATION = #{record.liocation,jdbcType=VARCHAR},
      PANDIAN_SIT = #{record.pandianSit,jdbcType=VARCHAR},
      OTHER_INFO = #{record.otherInfo,jdbcType=OTHER},
      STATUS = #{record.status,jdbcType=INTEGER},
      SKU_ID = #{record.skuId,jdbcType=INTEGER},
      SPU_ID = #{record.spuId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itbs.persistence.entity.TCenterResource">
    update t_center_resource
    <set>
      <if test="resourceId != null">
        RESOURCE_ID = #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceCode != null">
        RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="inaccountDate != null">
        INACCOUNT_DATE = #{inaccountDate,jdbcType=DATE},
      </if>
      <if test="oriValue != null">
        ORI_VALUE = #{oriValue,jdbcType=DECIMAL},
      </if>
      <if test="netValue != null">
        NET_VALUE = #{netValue,jdbcType=DECIMAL},
      </if>
      <if test="accrualofdePreciation != null">
        ACCRUALOFDE_PRECIATION = #{accrualofdePreciation,jdbcType=VARCHAR},
      </if>
      <if test="limitYear != null">
        LIMIT_YEAR = #{limitYear,jdbcType=INTEGER},
      </if>
      <if test="keeperId != null">
        KEEPER_ID = #{keeperId,jdbcType=INTEGER},
      </if>
      <if test="keeperName != null">
        KEEPER_NAME = #{keeperName,jdbcType=VARCHAR},
      </if>
      <if test="responsibilityCenter != null">
        RESPONSIBILITY_CENTER = #{responsibilityCenter,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        SPEC = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="liocation != null">
        LIOCATION = #{liocation,jdbcType=VARCHAR},
      </if>
      <if test="pandianSit != null">
        PANDIAN_SIT = #{pandianSit,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null">
        OTHER_INFO = #{otherInfo,jdbcType=OTHER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        SKU_ID = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="spuId != null">
        SPU_ID = #{spuId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itbs.persistence.entity.TCenterResource">
    update t_center_resource
    set RESOURCE_ID = #{resourceId,jdbcType=INTEGER},
      RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR},
      RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      INACCOUNT_DATE = #{inaccountDate,jdbcType=DATE},
      ORI_VALUE = #{oriValue,jdbcType=DECIMAL},
      NET_VALUE = #{netValue,jdbcType=DECIMAL},
      ACCRUALOFDE_PRECIATION = #{accrualofdePreciation,jdbcType=VARCHAR},
      LIMIT_YEAR = #{limitYear,jdbcType=INTEGER},
      KEEPER_ID = #{keeperId,jdbcType=INTEGER},
      KEEPER_NAME = #{keeperName,jdbcType=VARCHAR},
      RESPONSIBILITY_CENTER = #{responsibilityCenter,jdbcType=VARCHAR},
      SPEC = #{spec,jdbcType=VARCHAR},
      LIOCATION = #{liocation,jdbcType=VARCHAR},
      PANDIAN_SIT = #{pandianSit,jdbcType=VARCHAR},
      OTHER_INFO = #{otherInfo,jdbcType=OTHER},
      STATUS = #{status,jdbcType=INTEGER},
      SKU_ID = #{skuId,jdbcType=INTEGER},
      SPU_ID = #{spuId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.itbs.persistence.entity.TCenterResource">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="RESOURCE_ID" jdbcType="INTEGER" property="resourceId" />
    <result column="RESOURCE_CODE" jdbcType="VARCHAR" property="resourceCode" />
    <result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
    <result column="INACCOUNT_DATE" jdbcType="DATE" property="inaccountDate" />
    <result column="ORI_VALUE" jdbcType="DECIMAL" property="oriValue" />
    <result column="NET_VALUE" jdbcType="DECIMAL" property="netValue" />
    <result column="ACCRUALOFDE_PRECIATION" jdbcType="VARCHAR" property="accrualofdePreciation" />
    <result column="LIMIT_YEAR" jdbcType="INTEGER" property="limitYear" />
    <result column="KEEPER_ID" jdbcType="INTEGER" property="keeperId" />
    <result column="KEEPER_NAME" jdbcType="VARCHAR" property="keeperName" />
    <result column="RESPONSIBILITY_CENTER" jdbcType="VARCHAR" property="responsibilityCenter" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="LIOCATION" jdbcType="VARCHAR" property="liocation" />
    <result column="PANDIAN_SIT" jdbcType="VARCHAR" property="pandianSit" />
    <result column="OTHER_INFO" jdbcType="OTHER" property="otherInfo" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="SKU_ID" jdbcType="INTEGER" property="skuId" />
    <result column="SPU_ID" jdbcType="INTEGER" property="spuId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RESOURCE_ID, RESOURCE_CODE, RESOURCE_NAME, INACCOUNT_DATE, ORI_VALUE, NET_VALUE, 
    ACCRUALOFDE_PRECIATION, LIMIT_YEAR, KEEPER_ID, KEEPER_NAME, RESPONSIBILITY_CENTER, 
    SPEC, LIOCATION, PANDIAN_SIT, OTHER_INFO, STATUS, SKU_ID, SPU_ID, USER_ID, USER_NAME
  </sql>
  <select id="selectByExample" parameterType="com.itbs.persistence.entity.TCenterResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_center_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_center_resource
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_center_resource
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itbs.persistence.entity.TCenterResourceExample">
    delete from t_center_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itbs.persistence.entity.TCenterResource">
    insert into t_center_resource (ID, RESOURCE_ID, RESOURCE_CODE, 
      RESOURCE_NAME, INACCOUNT_DATE, ORI_VALUE, 
      NET_VALUE, ACCRUALOFDE_PRECIATION, LIMIT_YEAR, 
      KEEPER_ID, KEEPER_NAME, RESPONSIBILITY_CENTER, 
      SPEC, LIOCATION, PANDIAN_SIT, 
      OTHER_INFO, STATUS, SKU_ID, 
      SPU_ID, USER_ID, USER_NAME
      )
    values (#{id,jdbcType=INTEGER}, #{resourceId,jdbcType=INTEGER}, #{resourceCode,jdbcType=VARCHAR}, 
      #{resourceName,jdbcType=VARCHAR}, #{inaccountDate,jdbcType=DATE}, #{oriValue,jdbcType=DECIMAL}, 
      #{netValue,jdbcType=DECIMAL}, #{accrualofdePreciation,jdbcType=VARCHAR}, #{limitYear,jdbcType=INTEGER}, 
      #{keeperId,jdbcType=INTEGER}, #{keeperName,jdbcType=VARCHAR}, #{responsibilityCenter,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{liocation,jdbcType=VARCHAR}, #{pandianSit,jdbcType=VARCHAR}, 
      #{otherInfo,jdbcType=OTHER}, #{status,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{spuId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itbs.persistence.entity.TCenterResource">
    insert into t_center_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="resourceId != null">
        RESOURCE_ID,
      </if>
      <if test="resourceCode != null">
        RESOURCE_CODE,
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME,
      </if>
      <if test="inaccountDate != null">
        INACCOUNT_DATE,
      </if>
      <if test="oriValue != null">
        ORI_VALUE,
      </if>
      <if test="netValue != null">
        NET_VALUE,
      </if>
      <if test="accrualofdePreciation != null">
        ACCRUALOFDE_PRECIATION,
      </if>
      <if test="limitYear != null">
        LIMIT_YEAR,
      </if>
      <if test="keeperId != null">
        KEEPER_ID,
      </if>
      <if test="keeperName != null">
        KEEPER_NAME,
      </if>
      <if test="responsibilityCenter != null">
        RESPONSIBILITY_CENTER,
      </if>
      <if test="spec != null">
        SPEC,
      </if>
      <if test="liocation != null">
        LIOCATION,
      </if>
      <if test="pandianSit != null">
        PANDIAN_SIT,
      </if>
      <if test="otherInfo != null">
        OTHER_INFO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="skuId != null">
        SKU_ID,
      </if>
      <if test="spuId != null">
        SPU_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceCode != null">
        #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="inaccountDate != null">
        #{inaccountDate,jdbcType=DATE},
      </if>
      <if test="oriValue != null">
        #{oriValue,jdbcType=DECIMAL},
      </if>
      <if test="netValue != null">
        #{netValue,jdbcType=DECIMAL},
      </if>
      <if test="accrualofdePreciation != null">
        #{accrualofdePreciation,jdbcType=VARCHAR},
      </if>
      <if test="limitYear != null">
        #{limitYear,jdbcType=INTEGER},
      </if>
      <if test="keeperId != null">
        #{keeperId,jdbcType=INTEGER},
      </if>
      <if test="keeperName != null">
        #{keeperName,jdbcType=VARCHAR},
      </if>
      <if test="responsibilityCenter != null">
        #{responsibilityCenter,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="liocation != null">
        #{liocation,jdbcType=VARCHAR},
      </if>
      <if test="pandianSit != null">
        #{pandianSit,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null">
        #{otherInfo,jdbcType=OTHER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itbs.persistence.entity.TCenterResourceExample" resultType="java.lang.Long">
    select count(*) from t_center_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_center_resource
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.resourceId != null">
        RESOURCE_ID = #{record.resourceId,jdbcType=INTEGER},
      </if>
      <if test="record.resourceCode != null">
        RESOURCE_CODE = #{record.resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceName != null">
        RESOURCE_NAME = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.inaccountDate != null">
        INACCOUNT_DATE = #{record.inaccountDate,jdbcType=DATE},
      </if>
      <if test="record.oriValue != null">
        ORI_VALUE = #{record.oriValue,jdbcType=DECIMAL},
      </if>
      <if test="record.netValue != null">
        NET_VALUE = #{record.netValue,jdbcType=DECIMAL},
      </if>
      <if test="record.accrualofdePreciation != null">
        ACCRUALOFDE_PRECIATION = #{record.accrualofdePreciation,jdbcType=VARCHAR},
      </if>
      <if test="record.limitYear != null">
        LIMIT_YEAR = #{record.limitYear,jdbcType=INTEGER},
      </if>
      <if test="record.keeperId != null">
        KEEPER_ID = #{record.keeperId,jdbcType=INTEGER},
      </if>
      <if test="record.keeperName != null">
        KEEPER_NAME = #{record.keeperName,jdbcType=VARCHAR},
      </if>
      <if test="record.responsibilityCenter != null">
        RESPONSIBILITY_CENTER = #{record.responsibilityCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        SPEC = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.liocation != null">
        LIOCATION = #{record.liocation,jdbcType=VARCHAR},
      </if>
      <if test="record.pandianSit != null">
        PANDIAN_SIT = #{record.pandianSit,jdbcType=VARCHAR},
      </if>
      <if test="record.otherInfo != null">
        OTHER_INFO = #{record.otherInfo,jdbcType=OTHER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null">
        SKU_ID = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.spuId != null">
        SPU_ID = #{record.spuId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_center_resource
    set ID = #{record.id,jdbcType=INTEGER},
      RESOURCE_ID = #{record.resourceId,jdbcType=INTEGER},
      RESOURCE_CODE = #{record.resourceCode,jdbcType=VARCHAR},
      RESOURCE_NAME = #{record.resourceName,jdbcType=VARCHAR},
      INACCOUNT_DATE = #{record.inaccountDate,jdbcType=DATE},
      ORI_VALUE = #{record.oriValue,jdbcType=DECIMAL},
      NET_VALUE = #{record.netValue,jdbcType=DECIMAL},
      ACCRUALOFDE_PRECIATION = #{record.accrualofdePreciation,jdbcType=VARCHAR},
      LIMIT_YEAR = #{record.limitYear,jdbcType=INTEGER},
      KEEPER_ID = #{record.keeperId,jdbcType=INTEGER},
      KEEPER_NAME = #{record.keeperName,jdbcType=VARCHAR},
      RESPONSIBILITY_CENTER = #{record.responsibilityCenter,jdbcType=VARCHAR},
      SPEC = #{record.spec,jdbcType=VARCHAR},
      LIOCATION = #{record.liocation,jdbcType=VARCHAR},
      PANDIAN_SIT = #{record.pandianSit,jdbcType=VARCHAR},
      OTHER_INFO = #{record.otherInfo,jdbcType=OTHER},
      STATUS = #{record.status,jdbcType=INTEGER},
      SKU_ID = #{record.skuId,jdbcType=INTEGER},
      SPU_ID = #{record.spuId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itbs.persistence.entity.TCenterResource">
    update t_center_resource
    <set>
      <if test="resourceId != null">
        RESOURCE_ID = #{resourceId,jdbcType=INTEGER},
      </if>
      <if test="resourceCode != null">
        RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="inaccountDate != null">
        INACCOUNT_DATE = #{inaccountDate,jdbcType=DATE},
      </if>
      <if test="oriValue != null">
        ORI_VALUE = #{oriValue,jdbcType=DECIMAL},
      </if>
      <if test="netValue != null">
        NET_VALUE = #{netValue,jdbcType=DECIMAL},
      </if>
      <if test="accrualofdePreciation != null">
        ACCRUALOFDE_PRECIATION = #{accrualofdePreciation,jdbcType=VARCHAR},
      </if>
      <if test="limitYear != null">
        LIMIT_YEAR = #{limitYear,jdbcType=INTEGER},
      </if>
      <if test="keeperId != null">
        KEEPER_ID = #{keeperId,jdbcType=INTEGER},
      </if>
      <if test="keeperName != null">
        KEEPER_NAME = #{keeperName,jdbcType=VARCHAR},
      </if>
      <if test="responsibilityCenter != null">
        RESPONSIBILITY_CENTER = #{responsibilityCenter,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        SPEC = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="liocation != null">
        LIOCATION = #{liocation,jdbcType=VARCHAR},
      </if>
      <if test="pandianSit != null">
        PANDIAN_SIT = #{pandianSit,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null">
        OTHER_INFO = #{otherInfo,jdbcType=OTHER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        SKU_ID = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="spuId != null">
        SPU_ID = #{spuId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itbs.persistence.entity.TCenterResource">
    update t_center_resource
    set RESOURCE_ID = #{resourceId,jdbcType=INTEGER},
      RESOURCE_CODE = #{resourceCode,jdbcType=VARCHAR},
      RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      INACCOUNT_DATE = #{inaccountDate,jdbcType=DATE},
      ORI_VALUE = #{oriValue,jdbcType=DECIMAL},
      NET_VALUE = #{netValue,jdbcType=DECIMAL},
      ACCRUALOFDE_PRECIATION = #{accrualofdePreciation,jdbcType=VARCHAR},
      LIMIT_YEAR = #{limitYear,jdbcType=INTEGER},
      KEEPER_ID = #{keeperId,jdbcType=INTEGER},
      KEEPER_NAME = #{keeperName,jdbcType=VARCHAR},
      RESPONSIBILITY_CENTER = #{responsibilityCenter,jdbcType=VARCHAR},
      SPEC = #{spec,jdbcType=VARCHAR},
      LIOCATION = #{liocation,jdbcType=VARCHAR},
      PANDIAN_SIT = #{pandianSit,jdbcType=VARCHAR},
      OTHER_INFO = #{otherInfo,jdbcType=OTHER},
      STATUS = #{status,jdbcType=INTEGER},
      SKU_ID = #{skuId,jdbcType=INTEGER},
      SPU_ID = #{spuId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>